/* app styling */
.App {
  background-color: white;
  background-repeat: no-repeat;
}

.App {
  color: black;
}

#root {
  padding: 20px;
}

body {
  font-family: "Redressed", cursive;
}

/* header - logo - description */

.header {
  font-size: 48px;
  padding: 0px;
}

.logo {
  padding: 50px 0px 0px 0px;
  width: 280px;
}

.description {
  font-size: 24px;
  color: #9b8259;
  line-height: normal;
  padding: 0px 0px 20px 0px;
}

/* form  */

form {
  padding: 0px 0px 20px 0px;
}

select {
  background-color: rgba(155, 130, 89, 0.3);
  text-align: center;
  font-size: 16px;
  line-height: 16px;
  border: 1px solid black;
  font-family: "Redressed", cursive;
}

/* output */

.outputOptions {
  text-align: center;
}
.output {
  font-size: 18px;
}
.outputValue {
  background-color: rgba(155, 130, 89, 0.3);
  border: 1px solid black;
  width: 50%;
  margin: 10px;
  padding: 18px;
  font-family: "Roboto", sans-serif;
  text-align: left;
}

.outputValue:empty {
  display: none;
}

/* input */

.input {
  background-color: rgba(155, 130, 89, 0.3);
  text-align: center;
  font-size: 16px;
  line-height: 16px;
  border: 1px solid black;
  outline: 0;
  width: 50px;
  font-family: "Redressed", cursive;
  margin: 5px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.label {
  margin: 5px;
}

/* buttons */

.submitButton {
  text-align: center;
  font-size: 16px;
  line-height: 16px;
  border: 1px solid black;
  background: white;
  outline: 0;
  font-family: "Redressed", cursive;
  margin: 5px;
}
.submitButton:hover {
  color: rgba(155, 130, 89, 2.3);
}

.copyButton {
  text-align: center;
  font-size: 16px;
  line-height: 16px;
  border: 1px solid black;
  background: white;
  outline: 0;
  font-family: "Redressed", cursive;
}
.copyButton:hover {
  color: rgba(155, 130, 89, 2.3);
}
